<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Contacto</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <header>
            <h1>Terracotta Games</h1>
        </header>
        
        <nav class="container-nav">
            <ul class="horizontal-list">
                <li><a href="../index.html" class="button-69 active" role="button">Inicio</a></li>
                <li><a href="../views/productos.html" class="button-69 active" role="button">Productos</a></li>
                <li><a href="../views/presupuesto.html" class="button-69 active" role="button">Presupuesto</a></li>
                <li><a href="../views/contacto.html" class="button-69 active" role="button">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <div class="map">
                <div class="text-column">
                    <p>Terracota Games es un innovador desarrollador de videojuegos fundado en 2015, especializado en experiencias inmersivas y narrativas impactantes. Con sede en Valencia, el estudio ha lanzado títulos aclamados en géneros como acción, aventura y RPG, destacándose por su creatividad, mecánicas innovadoras y mundos detallados. Su equipo está compuesto por apasionados desarrolladores, artistas y diseñadores que buscan redefinir el entretenimiento digital.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.8819450508422!2d-0.3487207746839465!3d39.47466243754606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604890639a9593%3A0x7cdf7f49c2a0f2bb!2sAvda.%20de%20Blasco%20Ib%C3%A1%C3%B1ez%2C%2075%2C%20Algir%C3%B3s%2C%2046021%20Valencia!5e0!3m2!1ses!2ses!4v1742823615988!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="image-column-wrapper">
                    <div class="image-container">
                        <div class="image-column">
                            <img src="../assets/img/360_F_134518160_5DyP0y6YqXQgG6FdorIvpk7M6CBNrglm.jpg" alt="Imagen 1">
                            <p>Gerente general</p>
                        </div>
                        <div class="image-column">
                            <img src="../assets/img/istockphoto-1587604256-612x612.jpg" alt="Imagen 2">
                            <p>Gerente de ventas</p>
                        </div>
                        <div class="image-column">
                            <img src="../assets/img/istockphoto-1413766112-612x612.jpg" alt="Imagen 3">
                            <p>Gerente de operaciones</p>
                        </div>
                        <div class="image-column">
                            <img src="../assets/img/happy-middle-aged-business-man-600nw-2306186897.webp" alt="Imagen 4">
                            <p>Director tecnico</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <h3>Sobre Nosotros</h3>
                    <p>Terracota Games crea experiencias inolvidables a través de videojuegos innovadores que combinan creatividad, tecnología y pasión. Descubre nuestros mundos y únete a la aventura.</p>
                </div>
                <div class="footer-column">
                    <h3>Enlaces</h3>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="presupuesto.html">Presupuesto</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="social-icon"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contacto</h3>
                    <p>Email: contacto@ejemplo.com</p>
                    <p>Tel: +123 456 789</p>
                </div>
            </div>
        </footer>
    </body>
</html>