<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Productos</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>

        <header>
            <h1>Terracotta Games</h1>
        </header>
        
        <nav class="container-nav">
            <ul class="horizontal-list">
                <li><a href="../index.html" class="button-69 active" role="button">Inicio</a></li>
                <li><a href="../views/productos.html" class="button-69 active" role="button">Productos</a></li>
                <li><a href="../views/presupuesto.html" class="button-69 active" role="button">Presupuesto</a></li>
                <li><a href="../views/contacto.html" class="button-69 active" role="button">>Contacto</a></li>
            </ul>
        </nav>

        <main>
            <div>
                <h2>Videojuegos entregados</h2>
            </div>
            <div  class="video-container">
                <ul class="horizontal-list">
                    <li>
                        <div>
                            <video
                            class="resized-video"
                            src="../assets/videos/Clouds.mp4 "
                            controls
                            style="pointer-events: none"
                            autoplay
                            muted
                            preload="auto"
                            loop
                            ></video>
                        </div>
                        <div>
                            <p>
                                Clouds VR<br>
                                Juego de disparos VR  en el cual los enemigos aparecen alrededor del jugador y tiene que esquivar proyectiles y disparar devuelta y tener el puntaje mas alto posible.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <video
                            class="resized-video"
                            src="../assets/videos/BoxyRoads.mp4"
                            controls
                            style="pointer-events: none"
                            autoplay
                            muted
                            preload="auto"
                            loop
                            ></video>
                        </div>
                        <div>
                            <p>
                                Boxy Roads<br>
                                Juego 3D inspirado en Crossy Roads para navegadores web. 
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <video
                            class="resized-video"
                            src="../assets/videos/BreaklessDelivery.mp4 "
                            controls
                            style="pointer-events: none"
                            autoplay
                            muted
                            preload="auto"
                            loop
                            ></video>
                        </div>
                        <div>
                            <p>
                                Breakless Delivery<br>
                                Juego 2D de plataformas. Tiene una version tanto para Android como para Windows.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <h3>Sobre Nosotros</h3>
                    <p>Terracota Games crea experiencias inolvidables a través de videojuegos innovadores que combinan creatividad, tecnología y pasión. Descubre nuestros mundos y únete a la aventura.</p>
                </div>
                <div class="footer-column">
                    <h3>Enlaces</h3>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="presupuesto.html">Presupuesto</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="social-icon"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contacto</h3>
                    <p>Email: contacto@ejemplo.com</p>
                    <p>Tel: +123 456 789</p>
                </div>
            </div>
        </footer>
    </body>
</html>